@import "tailwind";
@import "ember-cli-loaders/loaders";

$font-stack: Helvetica, sans-serif;

body {
  font: 100% $font-stack;
  background-color: lightblue;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 50%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: -50%;
  background-color: white; /* Black*/

  overflow: hidden; /* Disable horizontal scroll */
  padding: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

.sidenav.open {
  box-shadow: 0 0px 10px black;
  left: 0%;
  right: 50%;
}

.no-click {
  pointer-events: none;
}

.loading {
  display: block;
}

.hide {
  display: none;
}
