@import "tailwind";
@import "ember-cli-loaders/loaders";

$font-stack: Helvetica, sans-serif;

body {
  font: 100% $font-stack;
  background-color: lightblue;
}

.my-custom-menu {
  background: white;
  h3 {
    color: blue;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: maroon;
  }
}

.no-click {
  pointer-events: none;
}

.loading {
  display: block;
  color: black;
}

.notLoading {
  display: none;
}

.hide {
  display: none;
}
