<div class="jumbo">
  <h2>
    Welcome!
  </h2>
  <p>
    We hope you find exactly what you're looking for in posts
  </p>
  {{posts-list clickPost=(action "getPost")}}
  {{#esp-menu position="left" open=showLeftSlideMenu}}
    <h3>
      {{currentPost.title}}
    </h3>
    <h3>
      {{currentPostUser.name}}
    </h3>
  {{/esp-menu}}
</div>